@import "./variables";

.heading-primary {
  font-size: 56px;
  line-height: 64px;
  font-weight: 600;
  color: $color-primary;
  margin-bottom: 44px;

  @media only screen and (max-width: $bp-mobile) {
    margin-bottom: 24px;
  }
}

.heading-tertiary {
  font-size: 28px;
  line-height: 36px;

  span {
    color: $color-pink;
  }
}
